h2 {
   color: $color3;
}

nav {
   height: 60px;
}

ul {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav {
   color: rgb(239, 178, 198);
}

a {
   line-height: 60px;
   color: $color3;
   margin: 0px 10px;
   text-transform: uppercase;
}

.nav-active {
   opacity: .8;
   border-bottom: 2px solid #6327dc;
}